<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" text="text/css" href="style.css"></script>
  </head>
  <body ng-app="HScards">
    <h1>Hearthstone Card Costs</h1>
    <div ng-controller="CardsController">
      <form novalidate>
        <input type='text'name='search' ng-model='cardSearch' placeholder="Search for Cards"></input>
        <button ng-Click="searchCollection()">Search</button>
      </form>
      <h5>Showing Search Results for {{cardSearch}}</h5>
      <div class="cardimage" ng-repeat="card in searchResults">
        <img src={{card.img}}>
        <h5>{{card.dollarCost}}</h5>
        <h5>Or</h5>
        <h5>{{card.grindTime}}</h5>
      </div>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src='HScards/Services/HScards-services.js'></script>
    <script src="HScards/HScards.js"></script>
  </body>
</html>
